* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: $text-font;
}
  
body {
    display: flex;
}
  

button{
    &.btn__default{
        @include button();
    }

    &.btn__bg-google{
        @include buttonGoogle();
    }

    &.btn__bg-red{
        @include buttonRed();
    }

    &.btn__bg-green {
        @include buttonGreen();
    }

    &.btn__with-image {
        @include buttonWithImage();
    }
}
