@mixin form(){
    display: flex;
    flex-direction: column;

    & legend{
        font-size: 20px;
        font-weight: 400;

        & span.styled{
            font-weight: 600;
            text-decoration: underline;
        }
    }

    & label{
        font-size: 20px;
        font-weight: 500;
    }

    & input[type=text], input[type=email], input[type=password]{
        padding: 14px 20px;
        border-radius: 10px;
        border: solid $black-color 2px;
        box-shadow: 2px 2px $black-color;
        font-size: 16px;
        font-weight: 500;
        width: 100%;
    }

    & select{
        background-color: transparent;
        text-align: center;
        padding: 14px 10px;
        border-radius: 10px;
        border: solid $black-color 2px;
        box-shadow: 2px 2px $black-color;
        font-size: 18px;
        font-weight: 500;
    }


    & .fieldset__input{
        display: flex;
        flex-direction: column;
        gap: 26px;
    }

    & .div__label-input{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}



@mixin page(){
    padding: 46px 40px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    width: 100%;
    background-color: #FEFEFD;

    & .page__header{
        display: flex;
        flex-direction: column;
        gap: 18px;

        & h1{
            font-size: 46px;
            font-weight: 500;
            font-family: $title-font;
            line-height: 1;
            text-transform: capitalize;
        }

        & p {
            font-size: 20px;
            font-weight: 400;
      
            & .__styled {
              font-weight: 600;
              text-decoration: underline;
            }
        }
    }
}


@mixin button(){
    padding: 21px 10px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 4px 4px #004fa7;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    transition: all ease-in-out 0.3s;
    background-color: $blue-color;
    color: $white-color;

    &:hover {
        transition: all ease-in-out 0.4s;
        box-shadow: 6px 6px #004fa7;
    }
}

@mixin buttonWithImage() {
    display: grid;
    grid-template-columns: 30px auto;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

@mixin buttonGoogle() {
    background-color: $btn-google-color;
    box-shadow: 4px 4px #7a251e;
  
    &:hover {
      box-shadow: 6px 6px #7a251e;
    }
  }
  
@mixin buttonRed() {
    background-color: $red-color;
    box-shadow: 4px 4px $btn-red-shadow-color;

    &:hover {
        box-shadow: 6px 6px $btn-red-shadow-color;
    }
}
  
@mixin buttonGreen() {
    background-color: $green-color;
    box-shadow: 4px 4px $btn-green-shadow-color;
  
    &:hover {
      box-shadow: 6px 6px $btn-green-shadow-color;
    }
}