@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rammetto+One&display=swap');
// COLORS - BASE:
$black-color: #0a0a0a;
$blue-color: #0079FF;
$green-color: #009B3A;
$red-color: #f2370c;
$white-color: #ffffff;
$yellow-color: #ffcf2d;

// COLOR - BUTTON:
$btn-google-color: #ea4335;
$btn-google-shadow-color: #7a251e;
$btn-red-shadow-color: #9d1d00;
$btn-green-shadow-color: #125700;

// COLOR - LIST:
$list-yellow-color: #E7FF53;
$list-green-color: #B2FF53;
$list-pink-color: #FF78E1;
$list-purple-color: #BF7FFF;

$list-shadow-yellow-color: #AEC13D;
$list-shadow-green-color: #7BB137;
$list-shadow-pink-color: #9A5178;
$list-shadow-purple-color: #9061BF;

// FONT-FAMILY:
$title-font: "Khand", sans-serif;
$text-font: 'Montserrat', sans-serif;
