@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// COLORS - BASE:
$black-color: #0a0a0a;
$blue-color: #0079FF;
$green-color: #009B3A;
$red-color: #f2370c;
$white-color: #ffffff;
$yellow-color: #ffcf2d;

// COLOR - BUTTON:
$btn-google-color: #ea4335;
$btn-google-shadow-color: #7a251e;
$btn-red-shadow-color: #9d1d00;
$btn-green-shadow-color: #125700;

// COLOR - LIST:
$list-yellow-color: #ffcf2d;
$list-green-color: #0eeb71;
$list-blue-color: #449DFF;

$list-shadow-yellow-color: #977a1a;
$list-shadow-green-color: #057939;
$list-shadow-blue-color: #235893;

// FONT-FAMILY:
$title-font: 'Khand', sans-serif;
$text-font: 'Montserrat', sans-serif;
