.page__auth-user{
    @include page();   

    & .section__wrapper{
        display: flex;
        flex-direction: column;
        gap: 44px;
    }

    & form{
        @include form();

        & .link__forget-password{
            font-size: 16px;
            text-decoration: none;
            color: $black-color;
            align-self: flex-end;
            margin-top: 18px;

            &:hover {
                font-weight: 500;
                transition: all ease-in-out 0.4s;
            }
        }

        & .div__group-buttons {
            display: flex;
            flex-direction: column;
            gap: 26px;
            margin: 43px 0;
        }
    
        & .link__form-nav{
            text-align: center;
            font-size: 16px;
    
            & a {
                color: $black-color;
                text-decoration: none;
                font-weight: 500;
          
                &:hover {
                  font-weight: 600;
                  transition: all ease-in-out 0.4s;
                }
            }
        }
    }

    @media screen and (min-width: 1200px) {
        background-color: #f0f4f9;
        background-image: url(/images/desktop-background.svg);

        & .section__wrapper{
            width: 90%;
            flex-direction: row;
            margin: auto;
            background-color: $white-color;
            padding: 60px 80px;
            border-radius: 10px;
            box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
        }
    
        form {
            width: 60%;

            & .div__group-buttons {
                flex-direction: row;
            
                & button {
                    font-size: 14px;
                }
            }
        }
    }
}