.page__home{
    background-color: #FEFEFD;
    display: flex;
    justify-content: center;
    min-height: 100dvh;
    width: 100%;
    padding: 1.8rem;

    .section__wrapper{
        display: flex;
        border: solid $black-color 4px;
        padding: 60px 40px;
        border-radius: 60px;
        width: 100%;
        justify-content: space-between;

        header{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: auto;
            gap: 40px;


            p {
                font-size: 3rem;
                font-weight: 600;
                width: 300px;
            }

            button{
                width: 100%;
                align-self: flex-start;
            }
        }

        img{
            width: auto;
            height: 500px;
        }
    }

    @media screen and (min-width: 700px) and (max-width: 930px) {
        .section__wrapper{
            gap: 10px;

            img{
                height: 400px;
                margin: auto;
            }

            header{
                width: 50%;

                p{
                    width: 100%;
                }
            }
        }
    }

    @media screen and (min-width: 300px) and (max-width: 700px) {
        .section__wrapper{
            width: 100%;
            flex-direction: column-reverse;
            border: none;
            border-radius: 0px;
            padding: 0px;
            justify-content: flex-start;

            header{
                p{
                    width: auto;
                    font-size: 2.4rem;
                }
            }

            img{
                height: auto;
            }
        }
    }
}