.page__home{
    background-color: #FEFEFD;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 40px 30px;
    gap: 30px;

    header{
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: start;

        h1 {
            color: $black-color;
            font-family: "Rammetto One", sans-serif;
            font-size: 24px;
            line-height: 1;
        }
        
        p {
            font-size: 26px;
            font-weight: 400;
        }
    }

    img.image__illustration{
        width: 100%;
        height: auto;
    }

    button {
        align-self: flex-end;
        width: 161px;
        padding: 18px 10px;
    }

    
    @media screen and (min-width: 490px) {
        align-items: start;
        justify-content: space-between;

        img.image__illustration{
          display: none;
        }
    }
}